body {
  background: #050505;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

/* LAYOUT */
.app {
  width: 720px;
  margin-top: 70px;
}

/* HEADER */
.topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #111;
  padding-bottom: 30px;
}

.brand {
  font-size: 40px;
  font-style: normal;
  letter-spacing: 4px;
  padding: 10px;
}

.meta {
  font-size: 11px;
  color: #666;
  display: flex;
  gap: 20px;
}

/* HERO */
.hero {
  margin: 80px 0;
}

.hero h1 {
  font-size: 40px;
  font-weight: 200;
  color: #666;
}

.hero p {
  color: #666;
}

/* INPUT */
input {
  width: 100%;
  padding: 18px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #222;
  color: white;
  font-size: 20px;
  outline: none;
  padding: 10px;

}

/* SEARCH */
.search {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.7;
  padding: 10px;

}

/* FILTER */
.filters {
  display: flex;
  gap: 25px;
  margin: 30px 0;
  padding: 10px;

}

.filters button {
  background: none;
  border: none;
  color: #555;
  letter-spacing: 2px;
}

.filters .active {
  color: rgb(255, 254, 254);
}

/* ACTION BAR */
.actionsBar {
  margin-bottom: 20px;
}

.actionsBar button {
  background: none;
  border: none;
  color: #444;
  cursor: pointer;
}

.actionsBar button:hover {
  color: white;
}

/* LIST */
.list {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-bottom: 1px solid #111;
  transition: 0.3s;
}

li:hover {
  transform: translateX(8px);
}

/* TEXT */
span {
  font-size: 20px;
}

.done span {
  text-decoration: line-through;
  color: #444;
}

/* ACTIONS */
.actions button {
  background: none;
  border: none;
  color: #444;
  margin-left: 15px;
}

.actions button:hover {
  color: white;
}

/* EDIT */
.edit {
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  color: white;
  width: 100%;
}

/* EMPTY */
.empty {
  color: #444;
  padding: 40px 0;
}

/* ANIMATION */
.fade-in {
  animation: fade 0.3s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px);}
  to { opacity: 1; transform: translateY(0);}
}